<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.smhrd.mapper.KeywordMapper">


	<select id="SelectKeyword" resultType="kr.smhrd.entity.keywords" >
		select * from toor.keywords where lec_id = #{lec_id}
	</select>

	<select id="SelectLecLang" resultType="kr.smhrd.entity.lectures" >
		select * from toor.lectures where lec_id = #{lec_id}
	</select>
	
	
	

</mapper>